{{#partial "contenido"}}

<h1>Evaluar metodologia: {{metodologia}}</h1>

<table class="table table-stripped">
	<tr>
	<th>
		<div class="form-group">
		  <label for="sel1">Periodo inicial</label>
		  <select class="form-control" id="sel1">
			{{#each periodos}}
				<option>{{this}}</option>
			{{/each}}
		  </select>
		</div>
	</th>
	<th>
		<div class="form-group">
		  <label for="sel2">Periodo final</label>
		  <select class="form-control" id="sel2">
			{{#each periodos}}
				<option>{{this}}</option>
			{{/each}}
		  </select>
		</div>
	</th>
	</tr>
</table>

{{/partial}}

{{>layout.hbs}}
