{{#partial "contenido"}}
	<div class="container">
	<div class="text-center"> 
		<h1>Analisis de indicadores</h1>		
		<h4>Elija la empresa a analizar</h4>
	</div>
	<!-- Formulario para seleccionar empresa y periodo -->
	<div class="col-md-6 mx-auto">
		<form action="/indicadores/resultadoConsulta" method="get">
			<div class="form-group">
	    		<select name="empresa" class="form-control empresas" id="empresa" required>
	     			<option value="" disabled selected hidden>Seleccione alguna opción</option>
	     			{{#each empresas}}
	      			<option value="{{nombre}}">{{nombre}}</option>
	     			{{/each}}
	   			 </select>
 			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-default btn-lg">Analizar</button>
			</div>
		</form>
	</div>
	<br>
</div>
{{/partial}}

{{>layout.hbs}}