{{#partial "contenido"}}

<h1>Evaluar un indicador</h1>

<table class="table table-striped table-bordered table-responsive metodologias">
	<tr>
		<form action="/indicadores/consulta" method="POST">
			<th>
				<label> Seleccionar indicador </label>
			</th>
			<th>
				<div class="form-group">
				  <select class="form-control" id="seleccionarIndicador" name="indicador">
					{{#each Indicadores}}
						<option>{{this.nombre}}</option>
					{{/each}}
				  </select>
				</div>
			</th>
			<th>
				<label> Empresa </label>
			</th>
			<th>
				<div class="form-group">
				  <select class="form-control" id="empresaElegida" name="empresaElegida">
					{{#each empresas}}
						<option>{{this.nombre}}</option>
					{{/each}}
				  </select>
				</div>
			</th>
			<th>
				<label> Periodo </label> 
			</th>
			<th>
				<div class="form-group">
				  <select class="form-control" id="periodo" name="periodo">
					{{#each periodos}}
						<option>{{this}}</option>
					{{/each}}
				  </select>
				</div>
			</th>
			<th>
				<button class="btn btn-info"  name="Submit" value="Submit" type="Submit">Evaluar</button>
			</th>
		</form>
	</tr>
</table>


	<h3> Resultado de indicador: </h3>
	<li style="padding-left: 20px;">{{resultado}}</li>


{{/partial}}

{{>layout.hbs}}