{{#partial "contenido"}}
<p>La empresa es {{empresa}}</p>
<p>El periodo es {{periodo}}</p>
<table>
  <thead>
    <tr>
      <th>Indicador</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultados}}
    <tr>
      <td>{{this.nombre}}</td>
      <td>{{this.valor}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{/partial}}

{{>layout.hbs}}