<div class="jumbotron">
	<h1>Menu Principal</h1>
	<h2>Consultas</h2>
	<p><a href="/menu/cuentas"><input type="button" name="cuentas" value="Consultar Cuentas"></input></a></p>
	<p><a href="/menu/indicadores"><input type="button" name="indicadores" value="Consultar Indicadores"></input></a></p>
	<p><a href="/menu/metodologias"><input type="button" name="metodologias" value="Consultar Metodologias"></input></a></p>
	<h2>Actualizacion de datos</h2>
	<p><a href="/menu/cuentas/new"><input type="button" name="nuevasCuentas" value="Importar Cuentas"></input></a></p>
	<p><a href="/menu/indicadores/new"><input type="button" name="nuevoIndicador" value="Crear Indicador"></input></a></p>
	<p><a href="/menu/metodologia/new"><input type="button" name="nuevaMetodologia" value="Crear Metodologia"></input></a></p>
</div>	
<a href="/"><button>Cerrar Sesion</button></a>