{{#partial "custom-head"}}

<!-- acá se incluyen links de estilos, etc

  -->

{{/partial}}


{{#partial "custom-body"}}
<header>
<nav class="navbar navbar-dark bg-dark navbar-expand">
  	<ul class="col-8 navbar-nav justify-content-between">
  		<li class="nav-item">
  			<a class="navbar-brand nav-link Text-white" href="/">
    		<img src="http://static.aztecanoticias.com.mx/plantillas/anuario2014/noticias/img/iconos/finanzas.png" width="30" height="30" class="" alt="">¿Dónde invierto?</a>
  		</li>

  		<li class="nav-item">
  			<a class="navbar nav-link btn btn-dark Text-white" href="/empresas" title="">Empresas</a>
  		</li>

  		<li class="nav-item">
  			<a class="navbar nav-link btn btn-dark Text-white" href="/cuentas" title="">Cuentas</a>
  		</li>

  		<li class="nav-item">
  			<a class="navbar nav-link btn btn-dark Text-white" href="/indicadores" title="">Indicadores</a>
  		</li>

  		<li class="nav-item">
  			<a class="navbar nav-link btn btn-dark Text-white" href="/metodologias" title="">Metodologías</a>
  		</li>
	 </ul>

    <ul class="col-4 navbar-nav justify-content-end">
      {{#if usuario}}
    	 <li class="nav-item">
          <span class="navbar btn btn-success Text-white" role="" href="" title="">Hola, {{username}}</span>
       </li>
      {{else}}
        <li class="nav-item">
          <a class="navbar btn btn-outline-warning" href="/login" role="button">Ingresar</a>
        </li>
      {{/if}}
    </ul>
</nav>

</header>

{{#block "contenido"}}
{{/block}}

{{/partial}}

{{>base.hbs}}