{{#partial "custom-head"}}

<!-- acá se incluyen links de estilos, etc

  -->

{{/partial}}


{{#partial "custom-body"}}
<header>
<nav class="navbar navbar-dark bg-dark navbar-expand">
  	<ul class="col-8 navbar-nav justify-content-between">
  		<li class="nav-item">
  			<a class="navbar-brand nav-link Text-white" href="/">
    		<img src="http://static.aztecanoticias.com.mx/plantillas/anuario2014/noticias/img/iconos/finanzas.png" width="30" height="30" class="" alt="">¿Dónde invierto?</a>
  		</li>

  		<li class="nav-item">
  			<a class="navbar nav-link btn btn-dark Text-white" href="/empresas" title="">Empresas</a>
  		</li>

  		<li class="nav-item">
  			<a class="navbar nav-link btn btn-dark Text-white" href="/indicadores" title="">Indicadores</a>
  		</li>

      <li class="nav-item">
        <a class="navbar nav-link btn btn-dark Text-white" href="/metodologias" title="">
        Metodologias</a>
      </li>

	 </ul>

    <ul class="col-4 navbar-nav justify-content-end">
      {{#if user}}
    	 <li class="nav-item">
          <span class="navbar btn btn-success active Text-white" role="" href="" title="">Hola, {{user}}</span>
       </li>
       <li class="nav-item">
        <form action="/logout" method="post" name="Login_Form" class="form-signin">
          <button class="navbar btn btn btn-danger active Text-white"  name="Submit" value="Logout" type="Submit">Salir</button>    
        </form>
       </li>
      {{else}}
        <li class="nav-item">
          <a class="navbar btn btn-outline-warning" href="/login" role="button">Ingresar</a>
        </li>
      {{/if}}
    </ul>
</nav>

</header>

{{#block "contenido"}}
{{/block}}

{{/partial}}

{{>base.hbs}}