{{#partial "contenido"}}

<h1>Cuentas existentes</h1>

<table class="table table-stripped">
	<ul>
	
	{{#each Cuentas}}
		<li>{{nombre}}</li>
	{{/each}}
	
	</ul>
</table>

{{/partial}}

{{>layout.hbs}}
